
section.my-hero{
    background-color: #1abc9c;
}

section.my-hero .my-img-avatar{
    height: 10rem;
}

.my-line{
    width: 10%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
}

.my-bg-dark{
    background-color: black;
}

div.my-box{
    width: 100%;
}

.my-div-60{
    width: 60%;
    margin: 0 auto;
}

section.my-about{
    background-color: #1abc9c;
}

section.my-contact-me{
    background-color: darkorange;
}

footer{
    background-color: mediumturquoise;
}