
header{
    height: 3rem;
}

.my-bg-blue{
    background-color: blue;
}

nav{
    background-color: aqua;
}

section.my-hero{
    background-color: bisque;
    height: 20rem;
}

div.my-box{
    width: 100%;
    height: 20rem;
    border: 1px solid red;
}

.my-div-60{
    width: 60%;
    margin: 0 auto;
}

section.my-portfolio{
    background-color: brown;
}

section.my-about{
    background-color: blueviolet;
}
section.my-contact-me{
    background-color: darkorange;
}

footer{
    background-color: mediumturquoise;
}